*,
::before,
::after {
  box-sizing: border-box;
}

body {
  font-family: Poppins;
  background-color: #12100f;
  color: #fff;
}

nav {
  width: 100%;
  border-bottom: 1px solid #fff;
  display: flex;
  flex-wrap: wrap;
}

.logo {
  flex-basis: 40%;
  padding: 0 20px;
  margin: auto;
}

.menu {
  flex-basis: 60%;
}

ul {
  display: flex;
  list-style: none;
}

li {
  padding: 0 30px;
  margin: 0;
}

a {
  text-decoration: none;
  color: #fff;
}
