@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');

*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: Poppins;
  background-color: #12100f;
  color: #fff;
}

.container {
  width: 100%;
  /* height: 50vh; */
}

nav,
.header {
  width: 100%;
  max-width: 1200px;
  /* border-bottom: 1px solid #fff; */
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
}

.header {
  height: 80px;
}

.portfolio-header h1 {
  flex-basis: 80%;
  padding: 20px 80px;
}

.portfolio-header a {
  height: 50px;
  margin: auto 0;
}

.fixed-top {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
  background-color: #12100f;
}

.logo {
  flex-basis: 40%;
  padding: 0 80px;
  margin: auto;
}

.menu {
  flex-basis: 60%;
  align-items: center;
  justify-content: center;
  height: 100px;
}

.navbar .menu ul,
.home-container .socials ul,
.contact-container .socials ul {
  display: flex;
  list-style: none;
  margin: 30px auto;
}

.navbar .menu ul li,
.home-container .socials ul li,
.contact-container .socials ul li {
  margin: 0;
}

a {
  text-decoration: none;
  color: #fff;
  padding: 10px 30px;
  border-radius: 5px;
}

a:hover {
  background-color: #fff;
  color: #12100f;
  transition: all 0.5s ease-out;
}

.content {
  /* height: 500px; */
  margin: 0;
  width: 100%;
  max-width: 1200px;
  padding: 50px;
  margin: auto auto;
}

.home-container {
  display: flex;
  background-image: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.4) 0%,
      rgba(0, 0, 0, 1) 100%
    ),
    url(./img/home-background-image-v2.jpg);
  background-size: cover;
}

.personal-header {
  flex-basis: 60%;
}

.photo {
  flex-basis: 40%;
}

.home-container h1,
.home-container p {
  margin: 10px;
  font-size: 2rem;
}

.name {
  margin-top: 50px;
}

.socials {
  padding-top: 100px;
  margin: 0;
}

.list-socials {
  padding: 0px;
  height: 75px;
  align-items: center;
}

.social-icon {
  padding: 25px 40px 10px 40px;
}

.about-container,
.portfolio-container {
  background-color: #fff;
  color: #12100f;
}

.about-container .content {
  text-align: justify;
}

.about-container h2 {
  margin-bottom: 15px;
  margin-top: 10px;
}
.about-container p {
  margin-bottom: 10px;
}

.about-container .content ul {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  width: 100%;
}

.about-container .content ul li {
  margin: 10px 50px;
  font-size: 120%;
}

.skills-container h2,
.skills-container h3 {
  margin-bottom: 20px;
  margin-top: 20px;
}

.skill-container {
  display: grid;
  grid-gap: 20px;
  margin-top: 20px;
  grid-template-columns: repeat(5, 1fr);
}

.skill {
  width: 150px;
  background-color: #fff;
  border-radius: 10px;
  /* height: 150px; */
}

.skill img {
  width: 100%;
  /* height: 100%; */
}

.contact-content {
  display: grid;
  margin-top: 20px;
  grid-gap: 20px;
  grid-template-columns: repeat(2, 1fr);
}

.contact-content form {
  display: flex;
  flex-direction: column;
  width: 80%;
}

.contact-content form input {
  width: 100%;
  border-radius: 5px;
  margin: 10px 0;
}

.contact-content form textarea {
  width: 100%;
  height: 140px;
  resize: none;
  margin: 10px 0;
  border-radius: 5px;
}

.contact-content form button {
  width: 40%;
  height: 30px;
  border-radius: 5px;
  border: solid #fff 2px;
  background-color: #12100f;
  color: #fff;
  font: Poppins;
}

.contact-content form button:hover {
  background-color: #fff;
  color: #12100f;
  cursor: pointer;
}

.projects {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
}

.project {
  height: 300px;
  width: 250px;
  margin: 0 auto;
  position: relative;
  text-align: center;
  cursor: pointer;
}

.project img {
  height: 100%;
  width: 100%;
  border: 4px solid #12100f;
  border-radius: 4px;
}

.project a {
  padding: 0;
}
.project-name {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: opacity 0.2s ease-in;
  opacity: 0;
  color: #fff;
}

.project:hover .project-name {
  opacity: 1;
}

@media (max-width: 800px) {
  .skill-container {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 500px) {
  .content {
    padding: 20px;
  }

  .logo {
    padding: 0;
    margin: 30px auto;
  }

  .menu {
    display: none;
  }

  .skill-container {
    grid-template-columns: repeat(2, 1fr);
  }

  .contact-content {
    grid-template-columns: repeat(1, 1fr);
  }

  .project-name {
    opacity: 1;
  }

  .skill {
    width: 120px;
  }
}
